@charset "UTF-8";

/* 반응형, 모바일에서 모든요소의 패딩,선을 크기안에 포함시킴 */
*, :before, :after { box-sizing: border-box; }

/* 브라우저기본크기 16px -> 10px */
html { font-size: 62.5%; }

/* body에 들어갈수있는 모든태그의 여백빼기 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, code, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, section, main, audio, video { margin: 0; padding: 0; }

/* html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

/* button태그에 손모양 커서 */
button { cursor: pointer; }
/* 익스하위버전에서 이미지 선없애기 */
fieldset, img { border: 0; vertical-align: top; }

/* 모바일, 반응형에서 이미지의 원본크기보다 커지지않게함 */
img { max-width: 100%; }
/* 리스트 기호 빼기 */
ol, ul { list-style: none; }
/* 태그 기본 기울임꼴 제거 */
address, em { font-style: normal; }
strong { font-weight: normal; }
/* 벤더프리픽스: 브라우저 제조사를 의미 */
a { text-decoration: none; color: #fff; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌*/
iframe { overflow: hidden; border: 0; }
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table { border-collapse: collapse; border-spacing: 0; width: 100%; }

/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
/* h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%} */
/* 기본적으로 300으로쓰기때문에 */
h1, h2, h3, h4, h5, h6 { font-weight: 300; font-size: 100%; }
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴, ios 둥근모서리, 기본스타일 제거 */
/* border-radius:0 -> iOS에서 테두리가 둥글게 나오므로 빼줌 */
/* -webkit-appearance: none -> iOS에서 폼요소에 내부그림자가 나오므로 빼줌 */
input, select, textarea, button { vertical-align: middle; margin: 0; padding: 0; border-radius: 0; -webkit-appearance: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }

/* 폼요소 포커스시 아웃라인 안보이게 */
/* input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
} */
/* textarea 리사이즈기능 빼기 */
textarea { resize: none; }
/* 모바일 크롬, 사파리의 텍스트 자동확대 방지*/
body { -webkit-text-size-adjust: none; }

/*********************** 공통스타일 *************************/
/* body에 높이가 없어도 hidden이 걸리면 스크롤바가 사라짐 */
/* iOS 사파리는 페이지최상단에서만 hidden이 걸리므로 페이지 위로 올라오게함 */
body.on { overflow: hidden; position: fixed; left: 0; top: 0; width: 100%; }

body, input, button, select, textarea, table {
	font-family: 'Noto Sans KR', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
	font-size: 1.6rem;
	/* font-weight 기본값은 400이므로 잡아줌 */
	font-weight: 500;
	color: #ecf0f1;
	/* letter-spacing: -0.03em; */
	/* 한글, 영문 한단어씩 내려가게 */
	/* word-break: keep-all; */
	/* 단어길이가 부모보다 길경우 한글자씩 내려가게하기 */
	/* word-wrap: break-word; */
}

/* Skip Navgation */
#skip_navi { position: relative; }
#skip_navi a { position: absolute; left: 0; top: -999px; width: 100%; padding: 10px 0; background: #fff; z-index: 99999; text-align: center; }
#skip_navi a:hover, #skip_navi a:active, #skip_navi a:focus { top: 0; }

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend, caption, .blind { position: absolute; overflow: hidden; border: 5px solid red; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px; }

/* float해제 */
.clearfix:after { content: ''; display: block; clear: both; }

/* placeholder */
::-webkit-input-placeholder { color: #bbbbbb; } /* Webkit,크롬,사파리 */
:-moz-placeholder { color: #bbbbbb; } /* Firefox 4-18 */
::-moz-placeholder { color: #bbbbbb; opacity: 1; } /* Firefox 19+ */
:-ms-input-placeholder { color: #bbbbbb !important; } /* IE10+ */

/* 텍스트 선택 컬러 */
/* ::selection { background: #ef151e;color: #ffffff; } */

/* 폼요소 공통 */
/* IE x버튼, password 눈모양 안보이게 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* input search x버튼 안보이게 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}



/* 섹션 공통 */
.section .inner { max-width: 1720px; padding: 100px 60px; margin: 0px auto; }

/* 제목 공통 */
.section .inner>h2 {
	text-align: center;
	font-size: 5rem;
	font-weight: 700;
	text-shadow: /* -1px -1px 1px #B4B6F9, */ 2px 2px 1px #8384D6;
	margin-bottom: 40px;
}




/* #fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: blanchedalmond;
} */
/* #fp-nav ul li a.active span {
	background: blanchedalmond;
} */
/* #fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
	background: blanchedalmond;
} */



#fp-nav ul li, .fp-slidesNav ul li {
	margin: 30px 0;
}
#fp-nav ul li a, .fp-slidesNav ul li a {
	/* height: 15px; */
	/* width: 15px; */
	/* background: none; */
	border-radius: 50%;
	border: 4px solid rgb(213, 215, 238);
}
#fp-nav ul li a span {
	background: #b4b6f9;
	height: 0;
}



#header {
	position: fixed;
	width:100%;
	z-index: 9999;
	background: #24252a;
	border-bottom: 1px solid #575962;
	/* box-shadow: 0 4px 4px -4px #24252a; */
	/* box-shadow: 0 50px 100px 50px #24252a; */
	/* box-shadow: 0 50px 50px 0px #24252a; */
}
#header .inner {
	height: 100px;
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header .inner .logo {
	border-radius: 50px;
}
#header h1 {
	font-weight: 700;
	color: #B4B6F9;
	padding: 0 25px;
	border: 1px solid #eee;
	border-radius: 50px;
	cursor: default;
	line-height: 35px;
}

#header .nav_list {
	/* list-style: none; */
	cursor: default;
}
#header .nav_list li {
	display: inline-block;
	padding: 0 30px;
}
#header .nav_list li a {
	transition: all 0.3s ease 0s;
	font-size: 2.5rem;
}
#header .nav_list li a:hover { color: #8384D6; }
#header .nav_list li.on a { color: #8384D6; font-weight: 700; }
#header .contact_btn {
	font-weight: 700;
	padding: 0 25px;
	line-height: 35px;
	border: none;
	border-radius: 50px;
	background: #8384d6;
	transition: all 0.3s ease 0s;
}
#header .contact_btn:hover { background: rgba(180, 182, 249, 0.8);}





.intro .inner .txt_wrap {
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	/* display: none; */
}
.intro .inner .txt_wrap em {
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.5;
	position: relative;
}

.intro .inner .txt_wrap em .blink {
	position: absolute;
	right: -4px;
	top: -3px;
  animation: blink 0.8s infinite;
  font-size: 3rem;
}
@keyframes blink { to { opacity: 0; } }

.intro .inner .txt_wrap p {
	color: #B4B6F9;
	position: relative;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 8rem;
	line-height: 1.2;
	margin-bottom: 30px;
	font-weight: 700;
}
.intro .inner .txt_wrap p:before {
	content: 'PORTFOLIO';
	position: absolute;
	color: #8384D6;
	text-shadow: -1px 0 #333, 1px 0 #333, 0 -1px #333, 0 1px #333;
	bottom: -4px;
	left: 5px;
}

.intro .inner .txt_wrap span { display: block; }






.skills .charts_wrap {
	background: #46484F;
	padding: 0 30px;
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
}
.skills .charts_wrap .chart {
	margin: 0 20px;
	position: relative;
	text-align: center;
}
.skills .charts_wrap .chart h2 {
	position: absolute;
	left: 50%;
	top: 42%;
	transform: translate(-50%, -50%);
	color: #999;
	font-size: 2rem;
	/* text-shadow: 2px 2px 1px #8384D6; */
}
.skills .charts_wrap .chart h2:after { content: '%'; }
.skills .charts_wrap .chart svg {
	width: 160px;
	height: 160px;
}
.skills circle {
	fill: #242732;
	stroke-width: 10px;
	stroke-dasharray: 437;
	stroke-dashoffset: 437;
	/* animation: line 2s forwards; */
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	stroke-linecap: round;
	/* transition: fill 4s 0.1s; */
}
/* @keyframes line {
	from {stroke-dashoffset: 628;}
	to {stroke-dashoffset: 0;}
} */
.charts_wrap .chart circle {
	stroke: #7878b0;
}

/* .charts_wrap .chart:nth-child(1) circle { stroke: #e44f26; } .charts_wrap .chart:nth-child(2) circle { stroke: blue; } .charts_wrap .chart:nth-child(3) circle { stroke: yellow; } .charts_wrap .chart:nth-child(4) circle { stroke: plum; } .charts_wrap .chart:nth-child(5) circle { stroke: plum; } .charts_wrap .chart:nth-child(6) circle { stroke: plum; } */

.skills .chart strong {
	/* text-shadow: 2px 2px 1px #8384D6; */
	display: block;
	font-size: 2.6rem;
	padding-top: 30px;
	margin-bottom: 20px;
	color: #dedfff;
}
.skills .chart p {
	font-size: 1.8rem;
	color: #fff;
	line-height: 1.6;
	margin-top: 10px;
	padding-bottom: 30px;
}

/* .animate_fade_up.on {
	opacity: 1;
	transform: translate(0,0);
} */
/* .animate_fade_up {
	transform: translate(0,100px);
    transition: all 1s;
    opacity: 0;
} */





.work .inner .tab_list {
	text-align: center;
	cursor: default;
}
.work .inner .tab_list a {
	font-weight: 700;
	font-size: 2.4rem;
	padding: 4px 25px;
	border-radius: 50px;
	background: #8384d6;
	transition: all 0.3s ease 0s;
	margin: 0 20px;
}
.work .inner .tab_list a:hover { background: rgba(180, 182, 249, 0.8); }

.work .work_list {
	/* display: flex;
	justify-content: space-around;
	flex-wrap: wrap; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	text-align: center;
	margin-top: 30px;
}
.work .work_list li {
	/* margin: 0 20px 20px; */
	border-radius: 15px;
}
.work .work_list li:nth-child(1) {
	background: url(../images/ai_personality_test.png) no-repeat top / cover ;
}
.work .work_list li:nth-child(2) {
	background: url(../images/jasoseol_edit.png) no-repeat top / cover ;
}
.work .work_list li:nth-child(3) {
	background: url(../images/curriculum.gif) no-repeat center / cover ;
}
.work .work_list li:nth-child(4) {
	background: url(../images/quote_page.gif) no-repeat center / cover ;
}
.work .work_list li:nth-child(5) {
	background: url(../images/medicox_rwd.png) no-repeat center/cover;
}
.work .work_list li:nth-child(6) {
	background: url(../images/baskin_mobile.png) no-repeat top/cover;
}
.work .work_list li:nth-child(7) {
	background: url(../images/baskin_pc.png) no-repeat top/cover;
}
.work .work_list li:nth-child(8) {
	background: url(../images/baskin_pc.png) no-repeat top/cover;
}
.work .work_list .txt_wrap {
	padding: 40px 20px;
	background: rgba(70, 72, 79, 0.95);
	width: 100%;
  height: 100%;
	border-radius: 15px;
	opacity: 0;
}
.work .work_list li:hover .txt_wrap {
	opacity: 1;
	transition: all 0.2s;
}
.work .work_list h3 {
	/* font-weight: 700; */
	font-size: 2rem;
	color: #c9cbff;
}
.work .work_list .txt_wrap .tag_wrap {
	margin: 20px 0;
}
.work .work_list .txt_wrap .tag_wrap .tag {
	display: inline-block;
	padding: 2px 10px;
	background: #828282;
	border-radius: 30px;
	margin: 0 5px;
}
.work .work_list .txt_wrap p {
	line-height: 3;
}
.work .work_list .txt_wrap .btn_more {
	display: inline-block;
	background: #8384d6;
	padding: 10px 40px;
	border-radius: 50px;
	margin-top: 20px;
	color: #fff;
}
.work .work_list .txt_wrap .btn_more:hover { background: rgba(180, 182, 249, 0.8); }






.about .info_wrap {
	padding: 30px;
	background: #46484F;
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.about .info_wrap .left_area img {
	border-radius: 50%;
	max-width: 300px;
	/* margin-right: 50px; */
}
.about .left_area { text-align: center; }
.about .left_area .txt_wrap { margin-top: 10px; line-height: 1.8;  }
.about .left_area .txt_wrap strong {
	font-size: 2.6rem;
	color: #dedfff;
}
.about .right_area {
	margin-left: 30px;
	line-height: 1.5;
}
.about .right_area .text_wrap { margin-left: 10px; }

.about .right_area strong {
	/* text-shadow: 2px 2px 1px #8384d6; */
	display: block;
	font-size: 2.6rem;
	margin-bottom: 10px;
	color: #dedfff;
}
.about .right_area .history_wrap {
	margin-top: 30px;
}

.about .right_area .info_center {
	margin: 30px 0;
}
.about .right_area .info_center p:nth-child(odd) {
	margin: 10px 0;
}

.contact .inner {
	max-width: 1720px;
	padding: 100px 60px;
	margin: 0px auto;
}

.contact .text_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact .text_wrap strong {
	font-size: 4rem;
	font-weight: 700;
	color: #dedfff;
	margin-bottom: 30px;
}
.contact .text_wrap .phone2 {
	margin: 30px 0;
	display: flex;
	justify-content: space-between;
}











/* 토스트1 */
/* 번호 클립보드 복사, 메일 */
.ip_hidden {
	/* position: absolute; */
	/* top: -9999em; */
	/* left: 0; */
	display: none;
	user-select: none;
	font-size: 1rem;
}
.mail:hover {color: #8384d6; display: inline;}
.phone {
	cursor: pointer;
	display: block;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.phone:hover {color: #8384d6;}
.phone p {display: inline;}
/* .phone img { width: 24px; margin-left: 85px; } */

.kakao {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
.kakao:hover {color: #8384d6;}
.kakao p {display: inline-block;}
/* .kakao img { width: 24px; margin-left: 120px; } */
#toast {
	cursor: default;
	position: fixed;
	left: 50%;
	padding: 15px 20px;
	transform: translate(-50%, 10px);
	border-radius: 50px;
	overflow: hidden;
	font-size: 2rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s, transform .5s;
	background: rgba(180, 182, 249, 1);
	color: #fff;
	z-index: 9999;
}
#toast.reveal {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, 0);
}





/* 토스트2 */
.phone2 {
	cursor: pointer;
	display: block;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.phone2:hover {color: #8384d6;}
.phone2 p {display: inline;}
/* .phone img { width: 24px; margin-left: 85px; } */

.kakao2 {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
.kakao2:hover {color: #8384d6;}
.kakao2 p {display: inline-block;}
#toast2 {
	cursor: default;
	position: fixed;
	left: 50%;
	/* bottom: -380%; */
	padding: 15px 20px;
	transform: translate(-50%, 10px);
	border-radius: 50px;
	overflow: hidden;
	font-size: 2rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s, transform .5s;
	background: rgba(180, 182, 249, 0.35);
	color: #fff;
	z-index: 9999;
}
#toast2.reveal {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, 0);
}


#footer { padding: 10px; }
#footer p { text-align: center; }





/* ########## 요소별 분기점 추가 ########## */

/* 헤더그림자 */
/* @media (max-width: 1566px){
	#header {
		box-shadow: none;
		
	}
} */













/* 태블릿 분기점 */
@media (max-width: 1200px) {
	#fp-nav.right { right: 30px; }

	#header .inner { height: 70px; }
	#header .nav_list { display: none; }

	.work .work_list li { width: 100%; }
	.work .work_list { grid-template-columns: 1fr; }

	.about .info_wrap img {max-width: 220px;}
}

















/* 모바일 분기점 */
@media (max-width: 767px) {
	/* 섹션 공통 */
	.section .inner {
		padding: 60px 30px;
	}

	#fp-nav ul, .fp-slidesNav ul {
		display: none;
	}


	#header .inner {
		padding: 0 30px;
		height: 60px;
	}
	/* #header .contact_btn {} */
	#header h1 {
		padding: 0 15px;
		font-size: 1.4rem;
	}
	#header .contact_btn {
		font-size: 1.4rem;
		padding: 0 15px;
		/* display: none; */
	}


	.intro .inner .txt_wrap p {
		font-size: 5rem;
	}
	.intro .inner .txt_wrap em .blink {
		display: none;
	}


	.skills .charts_wrap {
		padding: 0 15px;
	}
	.skills .charts_wrap .chart {
		margin: 0 15px;
	}


	.work .work_list .txt_wrap .tag_wrap .tag {
		margin: 5px 5px;
	}
	.work .work_list .txt_wrap p {line-height: 1.8;}


	.about .info_wrap {
		flex-wrap: wrap;
		padding: 30px 15px;
	}
	.about .info_wrap .left_area img {max-width: 200px;}
	.about .left_area {
		margin-bottom: 30px;
		border-bottom: 1px solid #eee;
	}
	.about .right_area {margin-left: 0;}


	.contact .text_wrap strong {
		font-size: 2rem;
	}

	#toast {
		font-size: 1.2rem;
		padding: 10px;
	}
	#toast2 {
		font-size: 1.2rem;
		padding: 10px;
	}

	
}