@charset "UTF-8";

/* 반응형, 모바일에서 모든요소의 패딩,선을 크기안에 포함시킴 */
*, :before, :after { box-sizing: border-box; }

/* 브라우저기본크기 16px -> 10px */
html { font-size: 62.5%; }

/* body에 들어갈수있는 모든태그의 여백빼기 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, code, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, section, main, audio, video { margin: 0; padding: 0; }

/* html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

/* button태그에 손모양 커서 */
button { cursor: pointer; }
/* 익스하위버전에서 이미지 선없애기 */
fieldset, img { border: 0; vertical-align: top; }

/* 모바일, 반응형에서 이미지의 원본크기보다 커지지않게함 */
img { max-width: 100%; }
/* 리스트 기호 빼기 */
ol, ul { list-style: none; }
/* 태그 기본 기울임꼴 제거 */
address, em { font-style: normal; }
strong { font-weight: normal; }
/* 벤더프리픽스: 브라우저 제조사를 의미 */
a { text-decoration: none; color: #fff; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌*/
iframe { overflow: hidden; border: 0; }
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table { border-collapse: collapse; border-spacing: 0; width: 100%; }

/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
/* h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%} */
/* 기본적으로 300으로쓰기때문에 */
h1, h2, h3, h4, h5, h6 { font-weight: 300; font-size: 100%; }
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴, ios 둥근모서리, 기본스타일 제거 */
/* border-radius:0 -> iOS에서 테두리가 둥글게 나오므로 빼줌 */
/* -webkit-appearance: none -> iOS에서 폼요소에 내부그림자가 나오므로 빼줌 */
input, select, textarea, button { vertical-align: middle; margin: 0; padding: 0; border-radius: 0; -webkit-appearance: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }

/* 폼요소 포커스시 아웃라인 안보이게 */
/* input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
} */
/* textarea 리사이즈기능 빼기 */
textarea { resize: none; }
/* 모바일 크롬, 사파리의 텍스트 자동확대 방지*/
body { -webkit-text-size-adjust: none; }

/*********************** 공통스타일 *************************/
/* body에 높이가 없어도 hidden이 걸리면 스크롤바가 사라짐 */
/* iOS 사파리는 페이지최상단에서만 hidden이 걸리므로 페이지 위로 올라오게함 */
body.on { overflow: hidden; position: fixed; left: 0; top: 0; width: 100%; }

body, input, button, select, textarea, table {
	font-family: 'Noto Sans KR', '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
	font-size: 1.6rem;
	/* font-weight 기본값은 400이므로 잡아줌 */
	font-weight: 500;
	color: #ecf0f1;
	/* letter-spacing: -0.03em; */
	/* 한글, 영문 한단어씩 내려가게 */
	/* word-break: keep-all; */
	/* 단어길이가 부모보다 길경우 한글자씩 내려가게하기 */
	/* word-wrap: break-word; */
}

/* Skip Navgation */
#skip_navi { position: relative; }
#skip_navi a { position: absolute; left: 0; top: -999px; width: 100%; padding: 10px 0; background: #fff; z-index: 99999; text-align: center; }
#skip_navi a:hover, #skip_navi a:active, #skip_navi a:focus { top: 0; }

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend, caption, .blind { position: absolute; overflow: hidden; border: 5px solid red; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px; }

/* float해제 */
.clearfix:after { content: ''; display: block; clear: both; }

/* placeholder */
::-webkit-input-placeholder { color: #bbbbbb; } /* Webkit,크롬,사파리 */
:-moz-placeholder { color: #bbbbbb; } /* Firefox 4-18 */
::-moz-placeholder { color: #bbbbbb; opacity: 1; } /* Firefox 19+ */
:-ms-input-placeholder { color: #bbbbbb !important; } /* IE10+ */

/* 텍스트 선택 컬러 */
/* ::selection { background: #ef151e;color: #ffffff; } */

/* 폼요소 공통 */
/* IE x버튼, password 눈모양 안보이게 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* input search x버튼 안보이게 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}


/* height 100vh 공통 */
.skills, .work, .about {
	height: 100vh;
}






/* #fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: blanchedalmond;
} */
/* #fp-nav ul li a.active span {
	background: blanchedalmond;
} */
/* #fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
	background: blanchedalmond;
} */



#fp-nav ul li, .fp-slidesNav ul li {	margin: 30px;}
#fp-nav ul li a, .fp-slidesNav ul li a {
	/* height: 15px; */
	/* width: 15px; */
	/* background: none; */
	border-radius: 50%;
	border: 4px solid rgb(213, 215, 238);
}
#fp-nav ul li a span {
	background: #b4b6f9;
	height: 0;
}



#header {
	position: fixed;
	width:100%;
	z-index: 9999;
	background: #24252a;
	/* box-shadow: 0 4px 4px -4px #24252a; */
	box-shadow: 0 50px 100px 50px #24252a;
}
#header .inner {
	height: 100px;
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header .logo {
	color: #B4B6F9;
	padding: 0 25px;
	border: 1px solid #eee;
	border-radius: 50px;
	cursor: default;
}
#header h1 { line-height: 35px;}

#header .nav_list {
	/* list-style: none; */
	cursor: default;
}
#header .nav_list li {
	display: inline-block;
	padding: 0 30px;
}
#header .nav_list li a {
	transition: all 0.3s ease 0s;
	font-size: 2.5rem;
}
#header .nav_list li a:hover { color: #8384D6; }
#header .nav_list li.on a { color: #8384D6; font-weight: 700; }
#header .contact_btn {
	padding: 0 25px;
	line-height: 35px;
	border: none;
	border-radius: 50px;
	background: rgba(131, 132, 214, 1);
	transition: all 0.3s ease 0s;
}
#header .contact_btn:hover { background: rgba(180, 182, 249, 0.8);
background: rg;}



.intro .inner {
	max-width: 1720px;
	padding: 0 60px;
	margin: 0 auto;
}
.intro .inner .txt_wrap {
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	/* display: none; */
}
.intro .inner .txt_wrap em {
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.5;
	position: relative;
}

.intro .inner .txt_wrap em .blink {
	position: absolute;
	right: -4px;
	top: -3px;
  animation: blink 0.8s infinite;
  font-size: 3rem;
}
@keyframes blink { to { opacity: 0; } }

.intro .inner .txt_wrap p {
	color: #B4B6F9;
	position: relative;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 8rem;
	line-height: 1.2;
	font-weight: 700;
	margin-bottom: 30px;
	font-weight: 700;
}
.intro .inner .txt_wrap p:before {
	content: 'PORTFOLIO';
	position: absolute;
	color: #8384D6;
	text-shadow: -1px 0 #333, 1px 0 #333, 0 -1px #333, 0 1px #333;
	bottom: -4px;
	left: 5px;
}

.intro .inner .txt_wrap span {
	display: block;
	font-weight: 300;
}


.skills .inner {
	max-width: 1720px;
	padding: 0 60px;
	margin: 0 auto;
}
.skills .inner>h2 {
	text-align: center;
	font-size: 5rem;
	font-weight: 700;
	text-shadow:
	/* -1px -1px 1px #B4B6F9, */
	2px 2px 1px #8384D6;
	margin-bottom: 20px;
}
/* .skills .inner .skills_box {
	border: 1px solid red;
	background: darkslateblue;
	border-radius: 50px;
}
.skills .inner .skills_box ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
.skills .inner .skills_box li{
	padding: 30px;
} */

.charts_wrap {
	/* width: 80%; */
	background: darkslateblue;
	border-radius: 50px;
	margin: 3rem auto;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
}
.charts_wrap .chart {
	margin: 0 20px;
	position: relative;
}
.charts_wrap .chart h2 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	color: #8384D6;
}
.charts_wrap .chart svg {
	width: 220px;
	height: 220px;
}
circle {
	fill: #ebebeb;
	stroke-width: 20;
	stroke-dasharray: 628;
	stroke-dashoffset: 628;
	/* animation: line 2s forwards; */
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	stroke-linecap: round;
	/* transition: fill 4s 0.1s; */
}
@keyframes line {
	from {stroke-dashoffset: 628;}
	to {stroke-dashoffset: 0;}
}
.charts_wrap .chart:nth-child(1) circle {
	stroke: #e44f26;
}
.charts_wrap .chart:nth-child(2) circle {
	stroke: blue;
}
.charts_wrap .chart:nth-child(3) circle {
	stroke: yellow;
}
.charts_wrap .chart:nth-child(4) circle {
	stroke: plum;
}
.charts_wrap .chart:nth-child(5) circle {
	stroke: plum;
}
.charts_wrap .chart:nth-child(6) circle {
	stroke: plum;
}